* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 100%; /* slide width control */
}

/* title style */
h1 {
  text-align: center;
  margin: 20px 0;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
}

h1 span {
  font-family: Georgia;
  color: #ff7600;
}

/* slide style */
.slides {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* button style */
#prev-btn,
#next-btn {
  cursor: pointer;
  background: transparent;
  padding: 10px;
  border: none;
}

#prev-btn:focus,
#next-btn:focus {
  outline: none;
}
